<div class="container">

    <label>Input server name</label>
    <input type="text" class="form-control" [(ngModel)]="serverName"/>
    <tr>
    <ng-template [ngIf]="serverCreated">
        <p>Server was Created - Server Name: {{ serverName }}</p>
    </ng-template>
    
    <ng-template #noServer>
        <p>No server was created!</p>
    </ng-template>

    <button 
        class="btn btn-primary" 
        [disabled]="!allowToActivateServer"
        (click)="activateServer()"
    >Activate Servers</button>
    <tr>
    <h2 *ngFor="let server of servers;"
        [ngStyle]="{'background-color': getColor(server)}"
        [ngClass]="{ online: server.status === 'online'}"
    >Server: {{ server.name }} - Server id: {{ server.id }} is {{ server.status }}</h2>
</div>
