<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or Blueprints!</p>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" #nameInput>
        <label for="content">Content</label>
        <input type="text" class="form-control" id="content" #contentInput>
        <br>
        <button class="btn btn-primary button-spacing" (click)="onAddServer(nameInput, contentInput)">Add Server</button>
        <button class="btn btn-primary button-spacing" (click)="onAddServerBlueprint(nameInput, contentInput)">Add Server Blueprint</button>
    </div>
</div>
